.header {

}

.content {
  padding: 1rem;
}

.top_0 {
  background-color: #efefef;
}

.no_bd {
  border: 0;
}

.pd_6 {
  padding: 6px;
}

.mrg_6 {
  margin: 6px;
}

.pd_bt_16 {
  padding-bottom: 16px;
}

.mrg_t_16 {
  margin-top: 16px;
}

.mrg_bt_16 {
  margin-bottom: 16px;
}

.bod_bt_e1e1e1 {
  border-bottom: 1px solid #e1e1e1;
}

.flt_r {
  float: right;
}

.flt_l {
  float: left;
}

.block_100 {
  display: block;
  width: 100%;
  height: 100%;
}

.txt_blue  {
  color: #47c5ff;
}

.txt_red {
  color: #f75757;
}

.txt_hui {
  color: #acacac;
}
.txt_green{
  color: green;
}

.list {
  background-color: #FFF;
}
