/**
 *
 * ___PROJECTNAME___
 *
 * Created by Ysmeng on 16/3/2.
 * Copyright 2020 ___MyCompanyName___. All rights reserved
 */

.registerContent {
  text-align: center;

  .inputUserNameBox {
    border: 1px solid #378cd8;
    margin-top: 40px;
    height: 44px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .inputPasswordBox {
    border: 1px solid #378cd8;
    margin-top: 10px;
    height: 44px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .inputIcon {
    margin-left: 5px;
    font-size: 40px;
    color: #378cd8;
    vertical-align: middle;
  }

  .spanField {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    color: #378cd8;
    vertical-align: middle;
  }

  .inputField {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: #378cd8;
    margin-left: 0px;
    margin-right: 5px;
    height: 40px;
    vertical-align: middle;
  }

  .buttonBox {
    margin-top: 45px;
    margin-left: 30px;
    margin-right: 30px;
    height: 54px;
    font-size: 27px;
    color: #fff;
    background-color: #378cd8;
    border-radius: 24px;

    .buttonTitle {
      border: 0px;
      background-color: transparent;
      font-size: 22px;
      color: #fff;
      margin: 0px;
      text-align: center;
      padding: 0.5em;
    }
  }
}
