/**
 *
 * ___PROJECTNAME___
 *
 * Created by Ysmeng on 16/3/2.
 * Copyright 2020 ___MyCompanyName___. All rights reserved
 */

.temperatureCenterContent {
  text-align: center;

  .deviceIcon {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 70px;
  }

  .chartsBox {
    margin-left: 10px;
    margin-right: 10px;
  }
}
