/**
*
* ___PROJECTNAME___
*
* Created by Ysmeng on 16/3/2.
* Copyright 2020 ___MyCompanyName___. All rights reserved
*/

<ion-view>
  <ion-header-bar align-title="center" class="bar-positive navigationBar">
    <button class="ion-ios-arrow-back button-clear" ng-click="turnbackButtonAction()"></button>
    <h1 class="title">{{'VIDEOCENTER.TITLE' | translate}}</h1>
  </ion-header-bar>

  <ion-content class="videoCenterContent">
    <div>
      <span class="videoTipsBox">{{'VIDEOCENTER.TIPS' | translate}}</span>
    </div>
  </ion-content>
</ion-view>
